@import 'bulma/css/bulma.css';

.container {
  padding: 20px;
}

.button {
  margin-top: 10px;
  margin-right: 10px;
}

.alert {
  position: fixed;
  bottom: -100px; 
  right: 20px;
  background-color: #9254f594;  
  color: white;
  z-index: 1000;
  opacity: 1;
  transition: bottom 0.3s ease-in-out, opacity 0.5s ease-in-out;
  padding: 15px;
  border-radius: 5px;
}

.alert.show {
  bottom: 20px;  
}

.alert.hide {
  opacity: 0;
  bottom: -100px;  
}

.product-item {
  margin-bottom: 20px;
}

.product-item img {
  max-width: 100%;
  height: felx  auto;
}

.product-image {
  max-width: 100%;
  height: flex;
}

.comment {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.comment strong {
  display: block;
  margin-bottom: 5px;
}

.comment small {
  display: block;
  color: #7a7a7a;
  margin-bottom: 10px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}

.modal .button {
  margin-top: 10px;
}

.delete {
  background: none;
  border: none;
  cursor: pointer;
}

.card-content {
  padding: 20px;
}
